<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity tool</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="containerPersonal" id="section-1-gradient">
        <div class="row">
            <div class="col-12">
                <h1 class="middle">Welcome Sushmit!</h1>
            </div>
        </div>
    </div>
    <h1 class="section2Header">What would you like to do today?</h1>
    <div class="containerPersonal">
        <div class="row">
            <div class="col-4">
                <div class="box">
                    <div class="icon">
                        <img src="images/todo.png" alt="">
                    </div>
                    <form action="/todo">
                        <label><button class="btn-primary"> To-do list </button></label>
                    </form>
                    <p>A place to keep track of all your activities</p>
                </div>
            </div>
            <div class="col-4">
                <div class="box">
                    <div class="icon">
                        <img src="images/blog.png" alt="">
                    </div>
                    <form action="/blog">
                        <label><button class="btn-primary"> Blogs </button></label>
                    </form>
                    <p>Write a new blog or browse through previous ones</p>
                </div>
            </div>
            <div class="col-4">
                <div class="box">
                    <div class="icon">
                        <img src="images/weather.png" alt="">
                    </div>
                    <form action="/weather">
                        <label><button class="btn-primary" name="weather-button"> Check weather </button></label>
                    </form>
                    <p>Check today's weather</p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>